<div *ngIf="ingredientQuantites && ingredientQuantites.length">
    <h2>Liste des ingrédients et quantités</h2>
    <ul>
      <li *ngFor="let ingredientQuantite of ingredientQuantites">
        <span>{{ ingredientQuantite.ingredient.nom }}: {{ ingredientQuantite.quantite }} {{ ingredientQuantite.unite }}</span>
        <button (click)="selectedIngredientQuantite = ingredientQuantite">Sélectionner</button>
        <button (click)="deleteIngredientQuantite(ingredientQuantite.id)">Supprimer</button>
      </li>
    </ul>
  </div>
  
  <h2>Ajouter ou modifier un ingrédient et quantité</h2>
  <form (ngSubmit)="addIngredientQuantite(selectedIngredientQuantite)">
    <label for="ingredient">Ingrédient:</label>
    <input type="text" [(ngModel)]="selectedIngredientQuantite.ingredient.nom" name="ingredient">
    
    <label for="quantite">Quantité:</label>
    <input type="number" [(ngModel)]="selectedIngredientQuantite.quantite" name="quantite">
    
    <label for="unite">Unité:</label>
    <select [(ngModel)]="selectedIngredientQuantite.unite" name="unite">
      <option *ngFor="let unite of ['gramme', 'millilitre', 'cuillère à soupe', 'cuillère à café', 'pièce']">{{ unite }}</option>
    </select>
  
    <button type="submit">Ajouter</button>
    <button type="button" (click)="updateIngredientQuantite(selectedIngredientQuantite)">Modifier</button>
  </form>
  