<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">nom</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of data">
        <tr>
          <td>{{ item.id }} <!-- interpolation --></td>
          <td>{{ item.nom }} <!-- interpolation --></td>
          <td> 
            <button class="btn btn-warning" [routerLink]="['/update', item.id]"> update </button>
            <button class="btn btn-danger" (click)="delete(item.id)"> X </button>
        </td>
        </tr>
        
      </tbody>
  </table>